// BREAK POINTS

$bp-huge: 1600px;
$bp-big: 1200px;
$bp-medium: 800px;
$bp-small: 600px;
$bp-tiny: 300px;

@mixin inline-block($alignment:top) {
  display:inline-block;
  vertical-align: $alignment;
}

@import "partials/colors";
@import "partials/mixins";
@import "partials/normalize-h5bp";
//@import "grids";

$blueprint_grid_columns: 12;
$blueprint-grid-margin: 2%;
$blueprint_grid_width: 6.222%; //(100% - (($blueprint_grid_columns + 1) * $blueprint-grid-margin)) / $blueprint_grid_columns;
@import "partials/grid_blueprint";

@import "partials/layout";
@import "partials/typography";
@import "partials/helpers";
@import "partials/forms";
@import "partials/application";

@import "modules/sidebar";
// @import "modules/login";
// @import "modules/card";

@import "pages/home";
@import "pages/rgb2hex";
@import "pages/dice";

@import "partials/print";