.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visible { visibility: visible;}

/** Hidden yet accessible content */
.visuallyhidden {
    clip: rect(0, 0, 0, 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    border: 0;
    position: absolute;
}
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

.invisible { visibility: hidden; }

/** Clearfix */
.clearfix:after {
	content: '';
	clear: both;
	display: table;
}

/** skip-links */
.skip-links {
	position: absolute;

	a {
		position: absolute;
		left: -7000px;
		padding: 0.5em;
		background: #000;
		color:#fff;
		text-decoration: none;

		&:focus {
			position: static;
		}
	}
}

/** "Island" item */
.item {
	padding: 10px;
	overflow: hidden;
}

/** Table layout */
.row {
	display: table;
	table-layout: fixed;
	width: 100%;
}

.row > *,
.col {
	display: table-cell;
	vertical-align: top;
}

