* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	overflow-y: scroll;
}

html, body { 
	//height: 100% ;
}

body {
	//padding: 10px;
	padding: 0;
}

.wrapper {
	max-width: 1200px;
	min-height: 300px;
	margin: 10px auto;
}

.main-sidebar,
.main-content {
}

.main-sidebar {
	width: 200px;
	float: left;
}

.main-content {
	padding: 10px;
	overflow:hidden;
	min-height: 300px;
}


